body{
  background-color: rgba(184, 183, 183, 0.308);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom:60px;
}

.activeclass {
  font-weight: bold;
}

.centered {
  justify-content: center;
}

.middled {
  align-items: center;
}




/*Fab button*/
.fab {
  align-items: center;
  background-color: orange;
  border-radius: 50px;
  bottom: 30px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  left: 200px;
  height: 50px;
  width: 50px;
  transition: box-shadow 0.5s, transform 0.25s;
  zoom: 1;
}

.fab.is-hidden {
  transform: scale(0);
}

.fab:hover {
  box-shadow: 0 6px 8px rgb(0, 0, 0, 0.3);
}

.fab span {
  transition: transform 0.5s;
}

.fab:active span {
  transform: rotate(360deg);
}


.primary-text {
  font-size: 1.3em;
}

.secondary-text {
  font-size: 0.8em;
  color: #999;
}


/*login and signup CSS*/
.login-container{
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  color: white;
}
.login-errors-container{
  margin: 0;
  font-size: 10px;
}

.signup-container{
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  padding-left: 30%;

}
.signup-form{
  text-align: center;
}

.input{
  margin: 5px 10px;
  /* width: 125px;  */
}

.input-field {
  border: 1px solid rgb(112,112,112);
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .25);
  margin-right: 20px;
  padding: 3px;
}

.quote-generator-container{
  height: 200px;
  background-color: peachpuff;
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quote-generator-quote{
  font-style: italic;
  margin: 0 10px;
}

.quote-generator-img{
  height: 150px;
  width: 150px;
  /* object-fit: cover; */
  border-radius:50%;
  box-shadow: 10px 10px 10px -10px #000000;
  /* align-self: center; */
}

.book-image-container{
  display: inline-block;
  margin: 30px 30px;
}

.book-image__1, .book-image__2, .book-image__3,
.book-image__4, .book-image__5, .book-image__6, .book-image__7{
  height: 150px;
  width: 100px;
}


.header {
  position: fixed;
  width: 100%;
}


/*Nav Bar*/

.nav-bar-content {
  display: inline;
}

.navbar {
  background-color: rgba(156, 172, 183, 100);
  display: grid;
  grid-template-columns: 2fr 4fr  60px;
  box-shadow: 2px 2px 10px #5f6f7936;
  padding: 15px;
}


.navbar__logo__button {
  border: none;
  background: none;
}
.navbar__logo__button__img {
  height: 60px;
  border-radius: 50%;
  opacity: .8;
}

.navbar__logo__button__img:hover {
  opacity: 1;
}

.navbar__text-logo {
  color: whitesmoke;
  font-weight: 100;
  font-size: 40px

}

.navbar__text-logo-div {
  width: fit-content;
  padding: 0px 10px;
}

.navbar__text-logo-div:hover {
  background-color: #a0b3bd;
  border-radius: 20px;
  box-shadow: 0 0 40px #a0b2bd;
}

.navbar__text-logo:hover {
  color: white;
  text-decoration: none;
  text-shadow: 0px 0px 10px #8f9ca3;
}

.navbar__search {
  float: right;
  justify-self: end;
  margin-right: 40px;
  letter-spacing: 3px;
}

.overlay__container {
  height: 50px;
}

.overlay{
  background-color: rgb(183 204 192 / 67%);
  width: 100%;
  padding-left: 50px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  padding-top: 14px;
  height: 50px;
  opacity: 1;
  transition: opacity 2s linear;
}

.overlay-shown {
  visibility: visible;
  opacity: 1;
  transition: opacity .1s linear;
}

.overlay-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .1s, opacity .1s linear;
}

.navbar__search-field {
  font-size: 14px;
  padding: 5px;
  padding-left: 10px;
  height: 40px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 6 rgba(156, 172, 183, 100)
}

/*starting books page*/
.book-container {
  display: grid;
  width: 800px;
  grid-template-columns: 25% 70%;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas:
  'book-image book-info'
  'genres book-info'
  'genres reviews';
  margin: 0 auto;
  gap: 10px;
  margin-top: 50px;
}

.container__book-info{
  grid-area: book-info;
  font-size: 1.5em;
}

.bookpage-container__book-info__description{
  margin-top: 20px;
}

.container__book-cover {
    justify-self: center;
    margin-bottom: 20px;
}
.container__book-image{
  grid-area: book-image;
  height: 225px;
  width: 150px;
  margin: 0 auto;
}

.container__genres{
  grid-area: genres;
  justify-self: center;
}

.container__genres h4 {
  font-size: 20px;
  font-weight:500;
}
.container__genres__links{
  text-decoration: none;
  color: gray;
}

.container__genres__links:hover {
  color: gray;
}

.bookpage-container__book-info__author {
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 10px;
}

.container__reviews-title{
  margin-top: 20px;
  font-size: 18px;
  grid-area: reviews;
}

.bookpage-container__reviews__input {
  padding: 20px;
  height: fit-content;
  grid-column: 2 / 3;
  width: 100%;
}

.container__reviews{
  grid-column: 2 / 3;
  display: grid;
  /* grid-template-rows: 15px 90% 20px; */
  /* grid-auto-rows: minmax(min-content, max-content); */
  grid-template-rows: 20px 1fr 20px;
  padding: 20px;
  background-color: rgb(255, 254, 254);
  box-shadow: 10px 10px 10px -10px #888888;
}

.container__reviews__star-container{
  justify-self: end;
  width: 50px;
  height: 10px;
  /* keeps stars closely together */
  display: flex;

}

.container__reviews__star{
  height: 10px;
  width: 10px;

}

.container__reviews__readmore{
  font-size: 10px;
  text-decoration: unset;

}

.container__reviews__readmore-container{
  align-self: end;
}

.container__reviews__text{
  margin: 0;
  font-size: 12px;
}


/* .container__reviews__textarea{
  margin-top: 10px;
} */
/* .container__reviews__textarea:hover{
  cursor: crosshair;
} */

.container__reviews__input{
  height: 50px;
  width: 100%;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

}

.container__reviews__input:hover {
  cursor: crosshair
}

/* search form */
.form-control{
  width: 150px;
}

.add-to-bookshelf-dropdown {
  color: #576169;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .25);
  margin-top: 5px;
  font-weight: 200;
  background-color: rgba(255,255,255, .8) ;
  float: left;
  width: 150;
}

.add-to-bookshelf-dropdown__option {
  color: rgba(0,0,0,.70);
  background-color: whitesmoke;
}


.drop-down-form {
  display: inline-block;
  height: 28px;
  color: gray;

  }


  .drop-down-form__button {
  height: 28px;
  font-size: 15px;
  margin-left: 15px;
  padding: 0 10px;
  }

  .drop-down {
  font-size: 15px;
  height: 28px;
  border-radius: 5px;
  }

  #drop-down-form__select {
    font-size: 12px;
    height: 23px;
    border-radius: 5px;
  }

  #drop-down-form__button {
    height: 20px;
    font-size: 12px;
    padding: 0 10px;
    margin-left: 20px;
  }

/*Starting shelf page*/
.wrapper{
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 800px;
  grid-template-rows: 200px 300px 100px 500px;
  margin: auto;
  margin-top: 50px;
}

h1#welcome {
  color: gray;
  margin-bottom: 30px;
}
.side-bar {
  /* background-color:lavender; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1/5;
}


.bookshelf-title {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: flex-end;
  padding-left: 30px;
  margin-bottom: 20px;
  color: gray;
  /* align-items: baseline; */
}


.bookshelf-books {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  overflow-y: scroll;
  position: relative;
}

.bookshelf-books__book-header {
  margin-left: 30px;
}

.bookshelf-books__book-title a {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  /* margin-left: 30px; */
  grid-column: 2;
  grid-row: 3;
}

.bookshelf-books__book-title a:hover {
  color: #434343;
  text-decoration: none;
}

.bookshelf-books__book-author {
  /* margin-top: 20px; */
  /* margin-left: 30px; */
  grid-column: 2;
  grid-row: 4;
}

.bookshelf-books__book-description {
  /* background-color:lightgrey; */
  grid-column: 2;
  grid-row: 5;
  margin-top: 50px;
  margin-left: 30px;
}


.h2 {
  align-items: center;
  justify-items: center;
}

.welcome-header {
  display: block;
  text-align: center;
  margin-left: 30px;
}

.quote {
  font-weight: 300
}

.quote-author {
  font-weight: 350;
  font-size: 20px;
  text-align: right;
  margin-right: 60px
}


.book-on-shelf__book-title {
  font-size: 14px;
}


.bookshelf-list-item {
  padding: 5px;
  cursor: pointer;
}

.bookshelf-list-item:hover {
  text-decoration: underline;
}

.bookshelf-list-item--active{
  font-weight: bold;
}

.button-light, .profile-button {
  background-color: rgb(208, 163, 132);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .25);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  margin: 10px 0px;
}

.button-light:hover{
  box-shadow: 0px 3px 6px 0px rgb(0, 0, 0, .5)
}




@media screen and (max-width: 800px) {
  .wrapper {
      margin-left: 70px;
  }
}

@media screen and (max-width: 950px) {
  .container {
      min-width: 900px;
  }
}


@media screen and (max-width: 800px) {
  .navbar {
      width: 950px;
  }
}
